@model IEnumerable<ODHDEVELOPERS.Models.VFormatTab>
@using ODHDEVELOPERS.Models;
@{
    UsersContext db = new UsersContext();
    var f1 = db.VFormatTabs.Single(f => f.Id == 1);
    var f2 = db.VFormatTabs.Single(f => f.Id == 2);
    var f3 = db.VFormatTabs.Single(f => f.Id == 3);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "VoucherFormat";
    var a = 0;
}

<div class="page-content">

                <div class="container">

<div class="page-toolbar">
                        
                        <div class="page-toolbar-block">
                            <div class="page-toolbar-title">Active-Deactive Voucher Format</div>
                            <div class="page-toolbar-subtitle"></div>
                        </div>
                        
                        <div class="page-toolbar-block pull-right">
                            
                        </div>           
                        
                    </div> 

                    <table border="1" style="margin-left:15%; margin-right:25%; width:50%;">
   
    @foreach(var item in Model){
        if(a==0)
        {
  <tr>
        <th style="width:10%;text-align:center;">
           <label id="sn"><b>S.N.</b></label>
            </th>
        <th style="width:20%;text-align:center;">
           <label id="BranchCode"><b>Format</b></label>
            </th>
        
        
        
          <th style="width:20%;text-align:center;">
           <label id="Action"><b>Action</b></label>
        </th>
    </tr>
        }

        a = a + 1;
    <tr style="text-align:center;">
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        
       
         @if(item.status==0)
          {
         <td>
                
            @Html.ActionLink("Active", "VoucherFormat", new { Id = item.Id, status = 1 }, new { onclick = "return confirm('Are you sure to Active this Format?');" })
        </td>
         }
        @if(item.status==1)
        {
        <td>
            @Html.ActionLink("Deactive", "VoucherFormat", new {Id = item.Id, status = 0 }, new { onclick = "return confirm('Are you sure to Deactive this Format?');" })
        </td>
        }
    </tr>
    } 

</table> </div> </div>

