@{
    ViewBag.Title = "Legal";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<section class="page-title" style="background-image: url(/assets/images/background/bg-page-title.jpg);">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Title -->
            <div class="title-column col-md-7 col-sm-6 col-xs-12">
                <h1>Legal</h1>
            </div>
            <!--Bread Crumb -->
            <div class="breadcrumb-column col-md-5 col-sm-6 col-xs-12">
                <ul class="bread-crumb clearfix">
                    <li><a href="../Home/Index">Home</a></li>
                    <li class="active">Legal</li>
                </ul>
            </div>
        </div>
    </div>
</section><br />
<section class="two-col-fluid">
    <!--Image Column-->
    @*<div class="image-column" style="background-image:url(/Content/images/background/image-3.jpg);"><div class="hidden-image"><img src="~/assets/images/background/image-3.jpg" alt=""></div><div class="dimensions-box"><div class="size">50 X 25</div> <div class="place-title">Bed Room <span class="light-font">Dimension</span></div></div></div>*@

    <div class="auto-container">
        <div class="row clearfix" style="margin-bottom: 20px">
            <!--Right Column-->
            <div class="circular-image-column col-md-4 col-sm-4 col-xs-12">
                <figure class="image wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                    <a href="~/assets/images/background/odh-certificate.png" title="Odh-certificate" class="lightbox-image">
                        <img src="~/assets/images/background/odh-certificate.png" style="margin-top: 20px; width: 350px; height: 350px;" alt=""></a>
                </figure>
            </div>
            <div class="circular-image-column col-md-4 col-sm-4 col-xs-12">
                <figure class="image wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                    <a href="~/assets/images/background/odh-pan.jpeg" title="ODH-pan" class="lightbox-image">
                        <img src="~/assets/images/background/odh-pan.jpeg" style="margin-top: 20px; width: 350px; height: 350px;" alt=""></a>
                </figure>
            </div>
            <div class="circular-image-column col-md-4 col-sm-4 col-xs-12">
                <figure class="image wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                    <a href="~/assets/images/background/ISO.jpg" title="ISO" class="lightbox-image">
                        <img src="~/assets/images/background/ISO.jpg" style="margin-top: 20px; width: 350px; height: 350px;" alt=""></a>
                </figure>
            </div>
              <div class="circular-image-column col-md-4 col-sm-4 col-xs-12">
                <figure class="image wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                    <a href="~/assets/images/background/GSTIN.png" title="GSTIN" class="lightbox-image">
                        <img src="~/assets/images/background/GSTIN.png" style="margin-top: 20px; width: 350px; height: 350px;" alt=""></a>
                </figure>
            </div>
            <div class="circular-image-column col-md-4 col-sm-4 col-xs-12">
                <figure class="image wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                    <a href="~/assets/images/background/MSME.png" title="MSME" class="lightbox-image">
                        <img src="~/assets/images/background/MSME.png" style="margin-top: 20px; width: 350px; height: 350px;" alt=""></a>
                </figure>
            </div>
            <div class="circular-image-column col-md-4 col-sm-4 col-xs-12">
                <figure class="image wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                    <a href="~/assets/images/background/TAN.png" title="TAN" class="lightbox-image">
                        <img src="~/assets/images/background/TAN.png" style="margin-top: 20px; width: 350px; height: 350px;" alt=""></a>
                </figure>
            </div>
        </div>
    </div>
    <!--End Right Column-->
</section>
<br />