@using ODHDEVELOPERS.Models;
@model IEnumerable<ODHDEVELOPERS.Models.Add_leavetab>
@{
    ViewBag.Title = "Add_leavetype";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
    UsersContext db = new UsersContext();
    var list = db.Add_leavetabs.ToList();
}


<div class="page-content">
    <div class="container">
        <div class="page-toolbar">
            <div class="page-toolbar-block">
                <div class="page-toolbar-title">Add Leave_Type</div>
                <div class="page-toolbar-subtitle"></div>
            </div>
        </div>
        <form method="post" action="../HR/Add_leavetype">
            <div class="row-form">
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <label class="width">Leave Type</label></span>
                        <input type="text" id="leavetype" required name="leavetype" class="form-control">
                    </div>
                </div>
            </div>
            <div class="widget-info widget-from">
                <div class="row-form">
                    <button name="submit" type="submit" class="btn btn-primary">Add_Leave</button>
                </div>
                <div class="row-form">
                    <div class="table-responsive table-bordered col-md-6" style="overflow-x: auto;margin-left:300px">
                        @if (Model != null)
            {
            
                                <table class="table " border="1" style="text-align: center">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;font-size: medium;">Srno.</th>
                                            <th style="text-align: center; font-size: medium;width:100%">Type of Leave</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                {
                                            <tr>
                                                <td style="font-size: medium">@item.id</td>
                                                <td style="font-size: medium">@item.leavetype</td>
                                            </tr>
            }
                                    </tbody>
                                </table>
                          
    }
                    </div>
                </div>
            </div>
         
        </form>
    </div>
</div>
    
